<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospedaje-Listas</title>
</head>
<body>
    
    <h1>Hospedajes en Puerto Iguazu</h1>
    <ul>
        {% for hospedaje in object_list %}
            <li>
                <p> Nombre: {{hospedaje.nombre}}</p>
                <p>
                    <a href="{% url 'Detail' hospedaje.id %}">Ver</a>
                    <a href="{% url 'Edit' hospedaje.id %}">Editar</a>
                    <a href="{% url 'Delete' hospedaje.id %}">Borrar</a>
                </p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>